<!-- Footer -->
<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start">Copyright &copy; {{ SITENAME }} <span id="current-year"></span></div>
      <div class="col-lg-4 my-3 my-lg-0">
        {% for name, link in SOCIAL %}
        <a class="btn btn-dark btn-social mx-2" href="{{ link }}" target="_blank" rel="noopener noreferrer" aria-label="{{ name }}">
          {% if name == 'Facebook' %}
          <i class="lni lni-facebook"></i>
          {% elif name == 'Instagram' %}
          <i class="lni lni-instagram"></i>
          {% elif name == 'Muso.ai' %}
          <i class="lni lni-soundcloud"></i>
          {% endif %}
        </a>
        {% endfor %}
      </div>
      <div class="col-lg-4 text-lg-end">
        <a class="link-dark text-decoration-none me-3" href="/privacy-policy/">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
